
#container {
    font-family: 'Courier New';
    font-size:14px;
}

input[type=text] {
    background-color:black;
    color:white;
    border: 0.5px solid dimgrey;
    padding: 2px;
    font-family:'Courier New';

}



.menu_title {
    border-bottom: 0.5px solid gray;
}

input:focus {
    outline-width: 0;
}

#cmain {
    border: 0.5px solid gray;
}


#maindiv > table {
    margin-left: auto;
    margin-right: auto;
}


#container > div {
    display:inline-block;
}

#maindiv {
    position:absolute;
    left:50%;
}

#maindivinner {
    position:relative;
    left:-50%;
}

#leftdiv {
    width:300px;
    float:left;
    margin-left:10px;
}

#button_list {
  list-style: none;
  padding-left:4px;
}

#button_list > li {
  margin:6px;
}

#symmetry_list {
    border-collapse: collapse;
    width:100%;
}

#symmetry_list tbody tr td {
    width:33%;
    text-align:center;
    cursor:default;
}

#symmetry_list tr td div {
    width:33%;
    
}

#symmetry_list tr td div {
    display:inline;
}

#symmetry_list tr td {
    min-width:40px;
    padding:4px;
}



#image_settings tr td {
    text-align:right;
    padding:4px;
}

#symmetry_list {
    border:none;
    border-collapse: collapse;
}

#symmetry_list td {
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

#symmetry_list td:first-child {
    border-left: none;
}

#symmetry_list td:last-child {
    border-right: none;
}



#rightdiv {
    width:200px;
    float:right;
    margin-right:10px;
}
#palettediv {
    border:none;
    border-collapse: collapse;
    cursor:default;
    width:100%;
}

#palettediv td {
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}

#palettediv td:first-child {
    border-left: none;
}

#palettediv td:last-child {
    border-right: none;
}

#palettediv tr td {
    padding:4px;
}

#add_color_bt {
  float:right;
  text-align:center;
  width:100%;
}

.button {
    padding-left:4px;
    padding-right:4px;
    vertical-align: middle;
    cursor:default;
}

.button.active {
    color:white;
}

.button.inactive {
    color:dimgray;
}


#palettediv {
    float:right;
}
#palettediv div {
    display:inline-block;
    vertical-align: middle;
}

.minipalette {
    border: 0.5px solid dimgrey;
    width:20px;
    height:20px;
    min-width:20px;
    margin:4px;
}

.minipalette.eraser {
    background-color:black;
    text-align:center;
    cursor:default;
    line-height: 20px;
    vertical-align: middle;
}

.text_button {
    border:0.5px solid dimgray;
    cursor:default;
    padding:4px;
    vertical-align: middle;
}




#add_symmetry_bt {
    text-align:center;
    
}

.shorttext {
    width:20px;
}




#color_picker {
    width:255px;
    position:absolute;
    background-color:black;
    font-family: 'Courier New';
    font-size:12px;
}

#sliders {
  border-collapse:collapse;
  /*border:none;*/
  border-spacing:0px;
  border-style:solid;
  border-width:1px;
}
#sliders tr td {
  padding:0px;
}

#sliders canvas {
  cursor:default;
  display:block;
}

#color_picker_footer {
  margin-top:4px;
  vertical-align: middle;
  text-align:center;
  width:100%;
}
#color_picker_footer div {
  display:inline-block;
}


#color_picker_output_color {
  width:10px;
  height:10px;
}





