<div id="container">
  <div id="leftdiv">
    <div class='menu_title'>image settings</div>
    <table id="image_settings">
      <tr>
        <td>width</td>
        <td><input type="text" id="img_width" [value]="mp.width" (change)="setWidth($event.target.value)"/></td>
      </tr>
      <tr>
        <td>height</td>
        <td><input type="text" id="img_height" [value]="mp.height" (change)="setHeight($event.target.value)"/></td>
      </tr>
      <tr>
        <td>scale</td>
        <td><input type="text" id="img_scale" [value]="mp.scale" (change)="setScale($event.target.value)"/></td>
      </tr>
    </table>
    <div style="margin:5px;">
      <div style="display:inline" class="text_button" (click)="clearImage()">clear</div>&nbsp;
      <div style="display:inline" class="text_button" (click)="saveImage()">save</div>
      <div style="display:inline" class="text_button" (click)="toggleTransparency()">{{mp.transparency? 'disable transparency': 'enable transparency'}}</div>
    </div>
    <br/>
    <div class='menu_title'>symmetry stack</div>
    <table id="symmetry_list">
      <tr *ngFor="let symmetry of symmetries; let i = index">
        <td>
          <div title="remove" class="button" (click)="removeSymmetry(i)">&#x2A09;</div>
          <div title="move up" class="button" (click)="moveSymmetryUp(i)">&#8613;</div>
          <div title="move down" class="button" (click)="moveSymmetryDown(i)">&#8615;</div>
        </td>
        <td>
          <div [class]="symmetry.type == 'rotate'? 'button active': 'button inactive'" [title]="symmetry.type != 'rotate'? 'change to rotator': 'rotate'" (click)="setSymmetryType(i,'rotate')">&#8635;</div>
          <div [class]="symmetry.type == 'reflect'? 'button active': 'button inactive'" [title]="symmetry.type != 'reflect'? 'change to reflect': 'reflect'" (click)="setSymmetryType(i,'reflect')">&#x2733;</div>
          <div [class]="symmetry.type == 'tile'? 'button active': 'button inactive'" [title]="symmetry.type != 'tile'? 'change to tile': 'tile'" (click)="setSymmetryType(i,'tile')">&#65283;</div>
        </td>
        <td>
          <div *ngIf="symmetry.type == 'rotate'">
            <input type="text" class="shorttext" maxlength="2" [value]="symmetry.n_sectors" (change)="setRotator(i,$event.target.value)"/>
          </div>
          <div *ngIf="symmetry.type == 'reflect'">
            <div class="button" [class]="symmetry.value == '-'? 'button active': 'button inactive'" title="horizontal symmetry" (click)="symmetry.value = '-'">&#x2012;</div>
            <div class="button" [class]="symmetry.value == '|'? 'button active': 'button inactive'" title="vertical symmetry" (click)="symmetry.value = '|'">&#x2758;</div>
            <div class="button" [class]="symmetry.value == '/'? 'button active': 'button inactive'" title="diagonal symmetry" (click)="symmetry.value = '/'">/</div>
            <div class="button" [class]="symmetry.value == '\\'? 'button active': 'button inactive'" title="reverse diagonal symmetry" (click)="symmetry.value = '\\'">\</div>
          </div>
          <div *ngIf="symmetry.type == 'tile'">
            <input type="text" class="shorttext" maxlength="2" [value]="symmetry.nx" (change)="symmetry.nx = $event.target.value"/>&nbsp;x&nbsp;<input type="text" class="shorttext" maxlength="2" [value]="symmetry.ny" (change)="symmetry.ny = $event.target.value"/>
          </div>
        </td>
      </tr>
    </table>
    <div id="add_symmetry_bt" class="button" title="add new symmetry" (click)="addSymmetry()">+</div>
  </div>
  <div id="maindiv">
    <div id="maindivinner">
      <table>
        <tr>
          <td>
            <canvas id="cmain" width="512" height="512" (mousedown)="mouseDown($event)" (mousemove)="mouseMove($event)" (mouseup)="mouseUp($event)" (mouseleave)="mouseLeave($event)"></canvas>
          </td>
          <td valign="top">
            <div id="minipalettediv">
              <div *ngIf="mp.transparency" (click)="setBrush(-1)" class="minipalette eraser" [style.border]="(brush == -1)? '0.5px solid white': '0.5px solid dimgrey'">&#x2A09;</div>
              <div *ngFor="let color of palette; let i = index" (click)="setBrush(i)" class="minipalette" [style.background]="toRGBText(color)"  [style.border]="(brush == i)? '0.5px solid white': '0.5px solid dimgrey'"></div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div id="rightdiv">
    <table id="palettediv">
      <tr *ngFor="let color of palette; let i = index">
        <td>
          <div (click)="setBrush(i)" class="minipalette" [style.background]="toRGBText(color)" [style.border]="(brush == i)? '0.5px solid white': '0.5px solid dimgrey'"></div>
          <div>{{toHexText(color)}}</div>
        </td>
        <td>
          <div title="move down" class="button" (click)="moveColorDown(i)">&#8615;</div>
          <div title="move up" class="button" (click)="moveColorUp(i)">&#8613;</div>
          <div title="remove" class="button" (click)="removeColor(i)">&#x2A09;</div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div id="color_picker">
  <table id="sliders">
    <tr>
      <td>
        <canvas id="slider1"></canvas>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="slider2"></canvas>
      </td>
    </tr>
    <tr>
      <td>
        <canvas id="slider3"></canvas>
      </td>
    </tr>
  </table>
  <div id="color_picker_footer">
    <div id="rgb_bt" class="btn">[rgb]</div>
    <div id="hsv_bt" class="btn inactive">[hsv]</div>
    <div id="output_color" style="display:inline-block"></div>
    <div id="output_text" style="display:inline-block"></div>
  </div>
</div>