<div class="header_toggle" (click)="header_hidden = !header_hidden">
	<span [hidden]="header_hidden">&#x21DE;</span>
	<span [hidden]="!header_hidden">&#x21DF;</span>
</div>
<div class="header" [hidden]="header_hidden">
	<div>
		<a id="page_title" routerLink="" routerLinkActive="active">Solus Ipse</a>
		<a [attr.id]="bc.id" *ngFor="let bc of breadcrumbs" routerLink="{{ bc.path }}" routerLinkActive="active" [@routerTransition]="bc.state">&nbsp;&nbsp;-&nbsp;&nbsp;{{bc.title}}</a>
	</div>
	<hr/>
</div>
<router-outlet></router-outlet>
