
html, body{
  height: 90%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color:lightgrey;
  background-color:black;
}

hr {
  height:0.5px;
  border-width:0;
	color:white;
	background-color:white;
}
a:link 
{
	color: #FFFFE0; text-decoration:none;
}
a:active 
{
	color: #FFFFE0; text-decoration:none;
}
a:visited 
{
	color: #FFFFE0; text-decoration:none;
}
a:hover 
{
	color: #FFFFFF; text-decoration:none;
}
::selection {
  background: #FFFFE0; /* WebKit/Blink Browsers */
}




input[type='range']
{
	-webkit-appearance: none;
	background-color: #FFFFFF;
	height: 1px;
	vertical-align: middle;
	outline:0;
}
input[type='range']::-moz-range-track
{
	-moz-appearance: none;
	background-color: #FFFFFF;
	height: 1px;
	outline:0;
}
input[type='range']::-webkit-slider-thumb
{
	-webkit-appearance: none !important;
	background-color: #FFFFFF;
	height: 20px;
	width: 1px;
}
input[type='range']::-moz-range-thumb
{
	-moz-appearance: none;
	background-color: #FFFFFF;
	height: 20px;
	width: 1px;
}



